---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
---
User-agent: *
Allow: /

User-agent: GPTBot
Allow: /

User-agent: ClaudeBot
Allow: /

User-agent: PerplexityBot
Allow: /

Sitemap: {{ site.baseUrl }}/sitemap.xml
