---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for lang in site.langs %}
  {# Synthesis page #}
  <url>
    <loc>{{ site.baseUrl }}/{{ lang }}/events/2026-uruguay/</loc>
    <xhtml:link rel="alternate" hreflang="{{ lang }}" href="{{ site.baseUrl }}/{{ lang }}/events/2026-uruguay/"/>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  {# Glossary #}
  <url>
    <loc>{{ site.baseUrl }}/{{ lang }}/events/2026-uruguay/glossary/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {# Search page #}
  <url>
    <loc>{{ site.baseUrl }}/{{ lang }}/events/2026-uruguay/search/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {# Talk pages #}
  {%- for ev in events %}
  <url>
    <loc>{{ site.baseUrl }}/{{ lang }}/events/2026-uruguay/{{ ev.folder }}/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.9</priority>
  </url>
  {%- endfor %}
  {%- endfor %}
</urlset>
