---
pagination:
  data: events
  size: 1
  alias: ev
permalink: "/2026-uruguay/{{ ev.folder }}/"
layout: false
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Redirecting...</title>
</head>
<body>
<script>
(function() {
  var nl = (navigator.language || navigator.userLanguage || 'es').toLowerCase();
  var lang = nl.startsWith('ne') ? 'ne' : nl.startsWith('en') ? 'en' : 'es';
  var dest = '{{ siteRoot }}/2026-uruguay/' + lang + '/{{ ev.folder }}/';
  // honour legacy ?lang= param if present
  var p = new URLSearchParams(location.search).get('lang');
  if (p === 'en' || p === 'es' || p === 'ne') { lang = p; dest = '{{ siteRoot }}/2026-uruguay/' + lang + '/{{ ev.folder }}/'; }
  location.replace(dest);
})();
</script>
<noscript><meta http-equiv="refresh" content="0; url={{ siteRoot }}/2026-uruguay/es/{{ ev.folder }}/"></noscript>
</body>
</html>
